<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>阿妹</string>
	<string>陈奕迅</string>
	<string>成龙</string>
	<string>张学友</string>
	<string>张伟</string>
	<string>白天不亮</string>
	<string>白水水</string>
	<string>龚琳娜</string>
	<string>陶喆</string>
	<string>宋冬野</string>
	<string>沙宝亮</string>
	<string>戚薇</string>
	<string>齐天大圣</string>
	<string>品冠</string>
	<string>Jobs</string>
	<string>夏先生</string>
	<string>$797835344$</string>
	<string>伍佰</string>
	<string>动力火车</string>
	<string>王菲</string>
</array>
</plist>
