<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dev_num</key>
		<string>xv-45</string>
		<key>dev</key>
		<string>设备一号</string>
		<key>meg</key>
		<dict>
			<key>department</key>
			<string>软件开发部</string>
			<key>name</key>
			<string>江江</string>
			<key>status</key>
			<string>1</string>
			<key>iphone</key>
			<string>0531-46455212</string>
			<key>reseason</key>
			<string>开会使用</string>
			<key>data</key>
			<string>2015-5-3</string>
		</dict>
	</dict>
	<dict>
		<key>dev_num</key>
		<string>45x</string>
		<key>dev</key>
		<string>投影仪2</string>
		<key>meg</key>
		<dict>
			<key>department</key>
			<string>移动组</string>
			<key>name</key>
			<string>小红</string>
			<key>status</key>
			<string>1</string>
			<key>iphone</key>
			<string>0531-46312155</string>
			<key>reseason</key>
			<string>借用使用ppt讲解</string>
			<key>data</key>
			<string>2015-5-12</string>
		</dict>
	</dict>
	<dict>
		<key>dev_num</key>
		<string>4554</string>
		<key>dev</key>
		<string>投影仪2x</string>
		<key>meg</key>
		<dict>
			<key>department</key>
			<string>大数据</string>
			<key>status</key>
			<string>1</string>
			<key>iphone</key>
			<string>0531-4645455</string>
			<key>reseason</key>
			<string>出去玩耍</string>
			<key>name</key>
			<string>小刚</string>
			<key>data</key>
			<string>2015-5-14</string>
		</dict>
	</dict>
	<dict>
		<key>dev</key>
		<string>苹果ipd</string>
		<key>dev_num</key>
		<string>4612</string>
		<key>meg</key>
		<dict>
			<key></key>
			<string></string>
			<key>status</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>dev</key>
		<string>车牌1</string>
		<key>dev_num</key>
		<string>45646</string>
		<key>meg</key>
		<dict>
			<key>status</key>
			<string>0</string>
		</dict>
	</dict>
</array>
</plist>
